*,*::before,*::after{
  box-sizing: border-box;
}
img{
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1296px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}